<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/predmeti.css">
    <!-- css za ikonice -->
    <link rel="stylesheet" href="../css/ikonice.css">
    <link rel="stylesheet" href="../css/checkbox.css">

    <title>Log In</title>
</head>

<body>

    <div class="wrapper">

        <!-- Pocinje Tabela -->
        <div class="container">

            <div class="row d-flex justify-content-center login">

                <div class="table-div-login col-xs-12 col-lg-4 ml-5 pt-3 pb-5">
                    <div class="my-4">
                        <div>
                            <div class="d-flex justify-content-center">
                                <div class="ml-1 mt-4"><span class="icon-elipse2"></span></div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <span class=" ml-4 my-0 purple header"><b>ATVSS</b>NIS</span><br>
                            </div>
                            <form class="mx-5 mt-5">
                                <div class="form-group my-4">

                                    <input type="email" class="form-control" id="exampleInputEmail1"
                                        placeholder="Email">

                                </div>
                                <div class="form-group mb-2 ">

                                    <input type="password" class="form-control" id="exampleInputPassword1"
                                        placeholder="Šifra">
                                </div>
                                <div class="form-check pl-0 d-flex justify-content-between">
                                    <div class="form-check form-check-inline ml-0">
                                        <input type="checkbox" id="checkbox-1-1" class="regular-checkbox regular-checkbox1" /><label
                                        for="checkbox-1-1" class="icon-checkmark"></label>
                                        <label class="form-check-label login-small " for="checkbox-1-1">Ostavi me
                                            prijavljenog</label>
                                    </div>
                                    <div>
                                        <a href="#" class="login-small">Zaboravili ste šifru?</a>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center my-3">
                                    <button type="submit" class="btn btn-prijavise"><a href="dashboard.html">Prijavi Se</a></button>
                                   
                                </div>
                                <div class="d-flex justify-content-center">
                                <a href="#">Registracija</a>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

    </div>

    <!-- Zavrsava se tabela -->
    <script src="../javascript/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>