<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/predmeti.css">
    <!-- css za ikonice -->
    <link rel="stylesheet" href="../css/ikonice.css">

    <title>Profil</title>
</head>

<body>

    <div class="wrapper">
        <!-- Pocinje Vertikalni NavBar -->

        <nav id="sidebar">
            <div class="sidebar-header ml-5 pl-5">
                <h3><b>ATVSS</b>NIŠ</h3>
            </div>

            <ul class="list-unstyled components ml-5 mt-5">

                <li class="mb-3 pt-1 sidebar-hover-dash">
                    <a href="dashboard.html">
                        <span class="icon-dashbempty"></span>
                        Dashboard
                    </a>
                </li>

                <li class="mb-3 pt-1 sidebar-hover">
                    <a href="./predmeti/predmeti-tabela.html">
                        <span class="icon-noteadd1"></span>
                        Predmeti
                    </a>
                </li>

                <li class=" mb-3 pt-1 sidebar-hover">
                    <a href="osoblje.html">
                        <span class="icon-user"></span>
                        Osoblje
                    </a>
                </li>

                <li class=" ml-5 mb-3 disabled">
                    <a class="disabled">
                        <span class="icon-document-edit"></span>
                        Beleške
                    </a>
                </li>
            </ul>
            <ul class="list-unstyled CTAs d-flex justify-content-center">
                <li class="dodaj">
                    <a href="#" class="download pl-1 py-2 ">+ Dodaj</a>
                </li>
            </ul>

        </nav>
        <div class="mr-2">
            <button type="button" id="sidebarCollapse" class="navbar-btn">
                <span></span>
                <span></span>
                <span></span>

            </button>
        </div>

        <div id="content">
            <!-- Zavrsava se Vertikalni NavBar -->

            <!-- Pocinje Horizontalni Navbar -->
            <div class="row d-flex justify-content-end pr-3">
                <div class="pr-3">
                    <div class="btn-group">
                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span
                                class="icon-chat"><span class="path1"></span><span class="path2"></span></span>
                        </button>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Nema novih poruka</a>

                        </div>
                    </div>
                </div>
                <div class="pr-3">
                    <div class="btn-group">
                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span
                                class="icon-bellnotif"><span class="path1"></span><span class="path2"></span></span>
                        </button>

                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Notifikacija 1</a>

                        </div>
                    </div>

                </div>
                <div class="pr-3">
                    <div class="btn-group">
                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Ime i
                            Prezime <span class="icon-arrowdwn"></span>
                        </button>

                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="profil.html">Pogledaj Profil</a>
                            <a class="dropdown-item" href="login.html">Log Out</a>

                        </div>
                    </div>
                </div>
                <div class="pr-3"><a href="profil.html"><span class="icon-elipse1"></span></a></div>
            </div>
            <!-- Zavrsava se Horizontalni Navbar -->


            <!-- Pocinje Tabela -->
            <div class="container">
                <div class="row">
                    <div class=" table-responsive table-div-small col-12  m-5 p-5">
                        <div class="row">
                            <div class="col-12 col-lg-2  pl-5">
                                <div class="d-flex justify-content-center">
                                    <div>
                                        <div><span class="icon-elipse2"></span></div>
                                        <div class="mt-3">
                                            <span class="text ml-4">Ime i Prezime</span><br>
                                            <span class="text small ml-5  ">profesor</span><br>
                                            <span class="icon-mail "></span>
                                            <span class="text  ml-2 "> ime@mail.com</span><br>

                                            <span class="icon-phone ml-3"></span>
                                            <span class="text  ml-2 "> 06123456</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-12 col-lg-10  pr-5">
                                <div class="row ">
                                    <a href="#" class="uredi pt-1 pb-2 mt-2 ">

                                        <span class="icon-settings pr-1 "></span>
                                        Uredi Profil
                                    </a><br>
                                </div>

                                <div class="row">
                                    <table class="table mt-5">

                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">Tip Studija</th>
                                                <th scope="col">Smer</th>
                                                <th scope="col">ESPB</th>
                                                <th scope="col">Prosek</th>
                                                <th scope="col">Školarina</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>

                                                <td>Osnovne Studije</td>
                                                <td>SRT</td>
                                                <td>120</td>
                                                <td>8.5</td>
                                                <td>Student se finansira iz budžeta</td>

                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    </div>

    </div>

    <!-- Zavrsava se tabela -->
    <script src="../javascript/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>



    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
        });
    </script>

</body>

</html>